
body{
    background-color: rgb(153, 219, 241);
}

.photo{
    width: 233px;
    min-height: 200px;
    border-radius: 50%;
}
#btn{
    cursor: pointer;
}
.head{
    text-shadow: 1px 14px 12px rgba(0, 0, 0, 0.422);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        max-width: 100vw;
    
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40%;
}
.mainsec{
    margin-top: 12px;
    width: 50vw;
   background-color: #d3cac4dd;
   box-shadow: 12px 1px 10px rgba(0, 0, 0, 0.324);
   
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   border-radius: 23px;
   /* min-height: 23vh; */
}
.seconddiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    gap: 12px;
    
}
.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.visit{
    background-color: grey;
    text-decoration: none;
    display: flex;
    color: blanchedalmond;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 6vh;
    border-radius: 23px;
}

